# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Backup files #
*.bak

# If you are using PyCharm #
blog_backend/.idea/
.idea

# Python #
*.py[cod]
*$py.class

# Distribution / packaging
.Python build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery
celerybeat-schedule.*

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
blog_api/
# mkdocs documentation
/site


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
blog_frontend/node_modules
blog_frontend/.pnp
.pnp.js

# testing
blog_frontend/coverage

# production
blog_frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

blog_frontend/npm-debug.log*
blog_frontend/yarn-debug.log*
blog_frontend/yarn-error.log*
