* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yekan";
  text-decoration: none;
  outline: none;
}

a {
  color: inherit;
}

@font-face {
  font-family: "Yekan";
  src: url("../fonts/Yekan.eot");
  src: url("../fonts/Yekan.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Yekan.woff") format("woff"),
    url("../fonts/Yekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  direction: rtl;
}

.food-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resturant-info {
  position: absolute;
  top: 110px;
  left: 20%;
  width: 60%;
  background-color: white;
  padding: 30px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 12px 27px 0 rgba(0, 0, 0, 0.19);
}

.resturant {
  position: relative;
}

.resturant-img {
  width: 100%;
  height: 250px;
  background-image: url("../images/resturant.jpeg");
  background-size: cover;
}

.checked {
  color: orange;
}

.search {
  margin-top: 100px;
}

.active-pink-2 input[type="text"]:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink input[type="text"] {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid grey;
  box-shadow: 0 1px 0 0 black;
}

.foods {
  margin-top: 20px;
}

.layout {
  position: absolute;
  left: 20%;
  width: 60%;
}
