* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Yekan";
  text-decoration: none;
  outline: none;
}

a {
  color: inherit;
}

@font-face {
  font-family: "Yekan";
  src: url("../fonts/Yekan.eot");
  src: url("../fonts/Yekan.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Yekan.woff") format("woff"),
    url("../fonts/Yekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  direction: rtl;
}

.food-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resturant-info {
  position: absolute;
  top: 200px;
  left: 25%;
  width: 50%;
  background-color: white;
  padding: 30px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 12px 27px 0 rgba(0, 0, 0, 0.19);
}

.resturant {
  position: relative;
}

.checked {
  color: orange;
}

.foods {
  margin-top: 100px;
}

.layout {
  position: absolute;
  left: 25%;
  width: 50%;
}
